@font-face {
  font-family: "idealist-sans-light";
  src: url(../fonts/idealist-sans-light.woff2),
    url(../fonts/idealist-sans-light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "uncage-regular";
  src: url(../fonts/uncage-regular.woff2), url(../fonts/uncage-regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
