// Шрифты
$IdealistFont: "idealist-sans-light", sans-serif;
$InterFonr: "Inter", sans-serif;
$UncageFont: "uncage-regular", sans-serif;
// Цвета
$ColorKrasnyy: #c92626;
$ColorBelyy: #ffffff;
$ColorSvetloServy: #a7a7a7;
$ColorCherny: #000000;
